In [3]:
#question 1
import numpy as np
import pandas as pd
dic = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels_array=['a','b','c','d','e','f','g','h','i','j']
df=pd.DataFrame(dic)
print (df)

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [9]:
#question 1
print (df.head(3))

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [10]:
#question 2
print (df.dropna())

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [15]:
#question 3
print (df.loc[:,('name','score')])

        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
3      James    NaN
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
7      Laura    NaN
8      Kevin    8.0
9      Jonas   19.0

In [19]:
#question 4
dic2={'name':["Suresh"],
     'score':["15.5"],
     'attempts':["1"],
     'qualify':["yes"]}
dfm=pd.DataFrame(dic2)
dfm.index=["k"]
newdf=pd.concat([df,dfm])
print (newdf)

        name score attempts qualify
0  Anastasia  12.5        1     yes
1       Dima   9.0        3      no
2  Katherine  16.5        2     yes
3      James   NaN        3      no
4      Emily   9.0        2      no
5    Michael  20.0        3     yes
6    Matthew  14.5        1     yes
7      Laura   NaN        1      no
8      Kevin   8.0        2      no
9      Jonas  19.0        1     yes
k     Suresh  15.5        1     yes

In [20]:
#question 5
print (newdf.drop("attempts",axis=1))

        name score qualify
0  Anastasia  12.5     yes
1       Dima   9.0      no
2  Katherine  16.5     yes
3      James   NaN      no
4      Emily   9.0      no
5    Michael  20.0     yes
6    Matthew  14.5     yes
7      Laura   NaN      no
8      Kevin   8.0      no
9      Jonas  19.0     yes
k     Suresh  15.5     yes

In [25]:
#question 6
score=newdf.loc[:,('score')]
list=[]
for i in score :
    if i>10:
        list.append(1)
    else: list_add.append(0)
newdf['Success']=list
print("this is your new dataframe:")
print(newdf)

TypeError: '>' not supported between instances of 'str' and 'int'

In [27]:
#question 7
newdf.to_csv('my_data')
print (newdf)

        name score attempts qualify
0  Anastasia  12.5        1     yes
1       Dima   9.0        3      no
2  Katherine  16.5        2     yes
3      James   NaN        3      no
4      Emily   9.0        2      no
5    Michael  20.0        3     yes
6    Matthew  14.5        1     yes
7      Laura   NaN        1      no
8      Kevin   8.0        2      no
9      Jonas  19.0        1     yes
k     Suresh  15.5        1     yes